/* CONFIGURACIÓN GENERAL */
body{
    margin:0;
    padding:0;
    height:100vh;

    background:linear-gradient(
        180deg,
        #12001f,
        #4b146b,
        #9b4dcc
    );

    display:flex;
    justify-content:center;
    align-items:center;

    font-family:Georgia, serif;
}


/* CONTENEDOR DE LA PORTADA */
.portada{
    text-align:center;
}


/* TITULO PRINCIPAL */
h1{
    color:white;
    font-size:55px;
    margin:0;

    text-shadow:
    0 0 10px #ffffff,
    0 0 20px #d8a7ff;
}


/* NOMBRES */
.pareja h2{

    color:#ffd6f7;

    font-size:38px;

    margin-top:20px;

    letter-spacing:3px;
}
/* FRASE DE PORTADA */
.frase{
    color:#fce4ff;
    font-size:22px;
    font-style:italic;
    margin-top:35px;
    margin-bottom:35px;
}


/* BOTÓN */
button{

    background:linear-gradient(
        90deg,
        #d16ba5,
        #9b4dcc
    );

    color:white;

    border:none;

    padding:15px 35px;

    font-size:20px;

    border-radius:30px;

    cursor:pointer;

    box-shadow:
    0 0 15px #d8a7ff;

    transition:0.3s;
}


button:hover{

    transform:scale(1.08);

    box-shadow:
    0 0 25px white;
}
/* ANIMACIONES DE ENTRADA */

.portada{
    animation: aparecer 2s ease;
}


@keyframes aparecer{

    from{
        opacity:0;
        transform:translateY(40px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}


button{
    animation:pulsar 2s infinite;
}


@keyframes pulsar{

    0%{
        transform:scale(1);
    }

    50%{
        transform:scale(1.05);
    }

    100%{
        transform:scale(1);
    }

}
/* ESTRELLAS CON PICOS ✦ */

.estrellas span{

    position:absolute;

    width:20px;
    height:20px;

    background:white;

    clip-path:polygon(
        50% 0%,
        61% 39%,
        100% 50%,
        61% 61%,
        50% 100%,
        39% 61%,
        0% 50%,
        39% 39%
    );

    filter:
    drop-shadow(0 0 8px white)
    drop-shadow(0 0 15px #d8a7ff);

    animation:
    flotar 6s infinite ease-in-out,
    brillar 2s infinite alternate;

}


/* POSICIONES */

.estrellas span:nth-child(1){
    top:10%;
    left:20%;
}

.estrellas span:nth-child(2){
    top:30%;
    left:80%;
}

.estrellas span:nth-child(3){
    top:70%;
    left:15%;
}

.estrellas span:nth-child(4){
    top:85%;
    left:70%;
}

.estrellas span:nth-child(5){
    top:50%;
    left:50%;
}

.estrellas span:nth-child(6){
    top:20%;
    left:60%;
}

.estrellas span:nth-child(7){
    top:75%;
    left:90%;
}

.estrellas span:nth-child(8){
    top:40%;
    left:10%;
}


@keyframes flotar{

    0%,100%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-25px);
    }

}


@keyframes brillar{

    from{
        opacity:.4;
        transform:scale(1);
    }

    to{
        opacity:1;
        transform:scale(1.4);
    }

}
